matplotlib==3.4.3
numpy==1.22.3
pandas==1.4.2
scipy==1.7.3
markdown==3.3.7
pip==22.2.2
json5==0.9
jsonschema==4.4
folium==0.14
streamlit_folium==0.11
leafmap==0.17
localtileserver==0.6
rio-cogeo==3.5
# Don't give a version for streamlit 
# to ensure the app has the latest security updates. 
streamlit
